<!-- Right -->
<div class="w-2/3 border flex flex-col">

  <%= render "chat_panel/header.html" %>

  <%= render "chat_panel/conversation.html" %>

  <%= live_render @conn, JibberWeb.Chat.InputLive, session: %{"username" => @username} %>
</div>
