<div class="bg-white px-3 flex items-center hover:bg-grey-lighter cursor-pointer">
  <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
    <div class="flex items-bottom justify-between">
      <p class="text-grey-darkest">
        Arnold Schwarzenegger
      </p>
      <p class="text-xs text-grey-darkest">
        12:45 pm
      </p>
    </div>
    <p class="text-grey-dark mt-1 text-sm">
      I'll be back
    </p>
  </div>
</div>
